-i https://pypi.python.org/simple
click==7.0
dlib==19.18.0
face-recognition-models==0.3.0
face-recognition==1.2.3
flask==1.1.1
itsdangerous==1.1.0
jinja2==2.10.3
markupsafe==1.1.1
marshmallow==3.2.1
numpy==1.17.3
pillow==6.2.1
werkzeug==0.16.0
